{% extends "layout_ndu.html" %}

{% block body %}
<section>
    <div style="margin: 15px 0px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
            Upload New Notebook
        </button>
    </div>
</section>
<section>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">File Name</th>
            <th scope="col">Preview</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Last Run</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for notebook in notebooks %}
        <tr id="nb-{{notebook.code}}">
            <th scope="row">{{notebook.id}}</th>
            <td>{{notebook.name}}</td>
            <td>
                <i class="fa fa-download"></i>
                <a target="_blank" href="{{ notebook_download_url(notebook) }}">{{notebook.file_name}}</a>
            </td>
            <td>
                {% if notebook.exe_date %}
                <a class="thumbnail nb-thumbnail-table" href="{{ notebook_output_url(notebook) }}&hide-inputs=True"
                   target="_blank">
                    <!--<img src="{{ static_url(notebook.preview_img) }}"/>-->
                </a>
                {% endif %}

            </td>
            <td>{{notebook.desc}}</td>
            <td class="nb-status-col">
                {% if notebook.error %}
                <button class="btn btn-sm btn-danger" onclick="showErrorDetailModal(this)"
                        data-code="{{notebook.code}}" data-error="{{notebook.error}}">
                    <i class="fa fa-exclamation-circle"></i>
                </button>
                {% else %}
                {% if notebook.exe_date %}
                <button class="btn btn-sm btn-success danger" data-code="{{notebook.code}}"
                        onclick="showRunDetailModal(this)">
                    <i class="fa fa-check-circle"></i>
                </button>
                {% endif %}
                {% endif %}
            </td>
            <td class="nb-exe-date-col">
                {% if notebook.exe_date %}
                {{notebook.exe_date}}
                {% endif %}
            </td>
            <td class="nb-controls-col">
                <div class="nb-controls">
                    <button class="btn btn-success" onclick="runNb('{{notebook.code}}')">
                        <i class="fa fa-play"></i>
                    </button>
                    <button class="btn btn-info">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger nb-delete" onclick="deleteNb('{{notebook.code}}')">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-primary"
                            onclick="copyTextToClipboard(this, '{{notebook_output_url_for_copy(notebook)}}')"
                            data-container="body"
                            data-toggle="popover" data-placement="top"
                            data-content="Notebook latest output url copied to clipboard.">
                        <i class="fa fa-copy"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
<div class="modal" tabindex="-1" role="dialog" id="uploadModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload New Notebook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="nb-form" class="upload-form" enctype="multipart/form-data" method="post"
                      action="{{ from_base('/notebooks/') }}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required></input>
                    </div>
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea class="form-control" id="desc" name="desc" rows="2" required></textarea>
                    </div>
                    <!--<div class="form-group">
                        <label for="cron">Run Crontab
                            <span class="label-help">
                            (<a target="_blank" href="https://crontab.guru">help about crontabs</a>)
                            </span>
                        </label>
                        <input type="text" class="form-control" id="cron" name="cron" style="font-weight: bold;"
                               placeholder="*/15 * * * * (at every 15th minute.)"></input>
                    </div> -->
                    <div class="checkbox">
                        <label>
                            <input name="cron_state" type="checkbox" onchange="changeCronState(this)"> Run Periodically
                        </label>
                    </div>
                    <div class="form-row" id="cron-inputs" style="display:none;">
                        <div class="form-group col-md-4 col-np">
                            <label for="interval_type">Interval Type</label>
                            <select id="interval_type" name="interval_type" class="form-control"
                                    onchange="changeIntervalType(this)">
                                <option value="every" selected>Every</option>
                                <option value="each">Each</option>
                            </select>
                        </div>
                        <div id="interval-every">
                            <div class="form-group col-md-4 col-np">
                                <!-- Starting 'Run Interval' second/minute/hour/day/week from now-->
                                <label for="every_interval">Run Interval</label>
                                <input type="number" class="form-control" id="every_interval" name="every_interval"
                                       value="1"/>
                            </div>
                            <div class="form-group col-md-4 col-np">
                                <label for="every_type">Type</label>
                                <select id="every_type" name="every_type" class="form-control">
                                    <!--<option value="seconds">Seconds - will be removed</option>-->
                                    <option value="minutes">Minutes</option>
                                    <option value="hours" selected>Hours</option>
                                    <option value="days">Days</option>
                                    <option value="weeks">Weeks</option>
                                </select>
                            </div>
                        </div>
                        <div id="interval-each" style="display:none;">
                            <div class="form-group col-md-4 col-np">
                                <label for="each_type">Type</label>
                                <select id="each_type" name="each_type" class="form-control">
                                    <option value="minute">Minute</option>
                                    <option value="hour" selected>Hour of Day</option>
                                    <option value="minute" selected>Time in Hour</option>
                                    <option value="day">Day of month</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-np">
                                <label for="each_time">Time</label>
                                <input class="form-control" type="time" name="each_time" id="each_time">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="timeout">Run timeout for each cell(in second)</label>
                        <input type="number" min="1" max="600" class="form-control" id="timeout" name="timeout"
                               value="5"></input>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="run" type="checkbox"> Run after upload
                        </label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="file" type="file" name="file" accept=".ipynb" required>
                        <span class="input-group-btn">
                    </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="document.getElementById('nb-form').submit();">
                    Upload
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Error Details</h4>
            </div>
            <div class="modal-body">
                <pre id="error-details"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="runDetailModal" tabindex="-1" role="dialog" aria-labelledby="runModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="runModalLabel">Notebook Run Details</h4>
            </div>
            <div class="modal-body">
                <div style="min-height:40px;display: flex;justify-content: space-between;">
                    <div>This table shows the last 15 run results.</div>
                    <div>
                        <button id="output_compare"  type="button" class="btn btn-primary"style="display:none;"
                                onclick="onCompare()">Compare
                        </button>
                    </div>
                </div>
                <table class="table table-hover" id="run_logs_table" style="width:100%">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">#Id</th>
                        <th scope="col">Datetime</th>
                        <th scope="col">Execution Time (second)</th>
                        <th scope="col">Result</th>
                    </tr>
                    </thead>
                </table>
                <div>

                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock body %}

{% block extra_head %}
<link href="{{ static_url('components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ static_url('components/datatables.net-select-bs/css/select.bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
<script src="{{ static_url('components/datatables.net/js/jquery.dataTables.js') }}"></script>
<script src="{{ static_url('components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ static_url('components/datatables.net-select/js/dataTables.select.min.js') }}"></script>
<script src="{{ static_url('js/notebooks.js') }}"></script>
{% endblock %}


