{% extends "layout_ndu.html" %}

{% block body %}
{% if title or subtitle or text or show_input %}
<header class="jumbotron masthead">
    {% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}
    {% if text %}
    {{ text | markdown | safe }}
    {% endif %}
    {% if show_input %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form enctype="multipart/form-data" method="post" action="{{ from_base('/notebooks/') }}">
                <div class="input-group">
                    <input type="file" name="file" accept=".ipynb">
                    <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                Yükle
              </button>
            </span>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</header>
{% endif %}


<section>
    <div class="marketing">
        <ul class="thumbnails example-sites">
            {% for notebook in notebooks %}
            <li class="col-md-4" id="nb-{{notebook.code}}">
                <p class="marketing-byline">{{notebook.name}}</p>
                <a class="thumbnail nb-thumbnail" href="{{ from_base(notebook.path) }}" target="_blank">
                    <img src="{{ static_url(notebook.preview_img) }}"/>
                </a>
                <div class="nb-controls">
                    <button class="btn btn-primary" onclick="runNb('{{notebook.code}}')">Run</button>
                    <button class="btn btn-info">Edit</button>
                    <button class="btn btn-danger nb-delete" onclick="deleteNb('{{notebook.code}}')">Delete</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>


<!--  {% for section in sections %}-->
<!--    <section>-->
<!--      <h3 class="section-heading">{{section.header}}</h3>-->
<!--      <div class="marketing">-->
<!--        <ul class="thumbnails example-sites">-->
<!--          {% for link in section.links %}-->
<!--            <li class="col-md-4">-->
<!--              <p class="marketing-byline">{{link.text}}</p>-->
<!--              <a class="thumbnail" href="{{ from_base(link.target) }}" target="_blank">-->
<!--                <img src="{{ static_url(link.img) }}" />-->
<!--              </a>-->
<!--            </li>-->
<!--          {% endfor %}-->
<!--        </ul>-->
<!--      </div>-->
<!--    </section>-->
<!--  {% endfor %}-->

<script>
function deleteNb(code){
    var question = confirm('Are you sure to delete this notebook?');
    if(question) {
        $.ajax({
            url: '/notebooks/?code=' + code+ '&action=delete',
            type: 'GET'
        }).done(function() {
            console.log( "delete success" );
            $("#nb-" + code).remove();
          })
          .fail(function() {
            console.error( "delete failed" );
          });
    }
}

function runNb(code){
    var question = confirm('Are you sure to run this notebook?');
    if(question) {
        $.ajax({
            url: '/notebooks/?code=' + code+ '&action=run',
            type: 'GET'
        }).done(function() {
            console.log( "run success" );
          })
          .fail(function() {
            console.error( "run failed" );
          });
    }
}
</script>

{% endblock body %}


