.some-class{
    color: red;
}

.nb-thumbnail{
    height: 250px
}

.nb-thumbnail-table{
    height: 100px
}


.nb-controls{
    float: right;
}

.nb-summary{
    margin-bottom: 3px;
    color: grey;
    font-size: 12px;
    font-style: italic;
}

.upload-form{
    text-align: left;
}